*{
    box-sizing: border-box;
}

div{
    border: 0.5px solid black;
}
.gameboard{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 600px;
    width: 600px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.highlight{
    background-color: black;
}
