*{
    box-sizing: border-box;
}

div{
    height: 6.25%;
    width: 6.25%;
    border: 2px solid black;
}
.gameboard{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700px;
    height: 700px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}